{% assign hasHeroImage = product.heroImage and product.heroImage != '' %}

<section
  class="product-hero{% unless hasHeroImage %} no-image{% endunless %}"
  style="
    --hero-bg: {{ product.heroColour | default: '#111' }};
    --hero-text: {{ product.heroTextColour | default: '#fff' }};
  "
>
  {% if hasHeroImage %}
    <img
      src="{{ product.heroImage }}"
      alt="{{ product.name }} hero image"
      class="product-heroImage"
    >
  {% endif %}

  <div class="product-hero-text px-3">
    <h2 class="text-uppercase">{{ product.heroHeadline }}</h2>
    <img
      src="{{ product.logo }}"
      alt="{{ product.name }} logo"
      class="product-hero-logo mb-4"
    >
    <p>{{ product.heroSub }}</p>
  </div>
</section>
