<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#D368AC">

  {% comment %} 
    SEO LOGIC: If description is missing in Front Matter, 
    look it up in products.json using the product_id 
  {% endcomment %}
  {% if description == nil and product_id %}
    {% assign seo_product = products | where: "id", product_id | first %}
    {% if seo_product %}
      {% assign description = seo_product.description %}
    {% endif %}
  {% endif %}

  {% comment %} 
    title logic
  {% endcomment %}
  {% assign url_category = "" %}
  {% if page.url contains "/samples/" %}
    {% assign url_category = "Samples" %}
  {% elsif page.url contains "/irs/" %}
    {% assign url_category = "IRs" %}
  {% elsif page.url contains "/products/" %}
    {% assign url_category = "Products" %}
  {% endif %}
  <title>
    fedDSP &gt; 
    {% if url_category != "" and title != url_category %}
      {{ url_category }} &gt; 
    {% endif %}
    {{ title }}
  </title>

  <title>fedDSP &gt; {{ title }}</title>
  <meta name="description" content="{{ description | default: texts.index.metaDescription | escape }}">
  <meta name="author" content="{{ site.author }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta property="og:site_name" content="fedDSP">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description | escape }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">

  {% assign socialImg = image | default: '/assets/images/social-share-default.jpg' %}
  <meta property="og:image" content="{{ site.url }}{{ socialImg }}">
  <meta property="og:image:alt" content="{{ title }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description | escape }}">
  <meta name="twitter:image" content="{{ site.url }}{{ socialImg }}">

  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://plausible.io">

  <link rel="preload" href="/assets/fonts/FedDSPCustomFont.otf" as="font" type="font/otf" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

  <link rel="stylesheet" href="/assets/css/site.css">

  <link rel="icon" href="/assets/images/icons/favicon.ico" sizes="any">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
  <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png">
  <link rel="manifest" href="/assets/images/icons/site.webmanifest">

  <script defer data-domain="feddsp.com" src="https://plausible.io/js/script.js"></script>

  <!-- Meta Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '1052303960222972');fbq('track', 'PageView');</script><noscript><img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=1052303960222972&ev=PageView&noscript=1"/></noscript><!-- End Meta Pixel Code -->
</head>

<body>

  {% include "components/nav.liquid" %}

  <main>
    {{ content }}
  </main>

  {% include "components/footer.liquid" %}
  
  {% include "components/modal-newsletter.liquid" %}

  {% include "components/newsletter-toast.liquid" %}
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="/assets/js/animate-reveal.js"></script>

  <script src="/assets/js/meta-events.js"></script>

  <script src="https://app.lemonsqueezy.com/js/checkout.js" defer></script>

</body>

</html>