{% comment %}
  LOGIC:
  1. Determine if we are on Index.
  2. If NOT Index, determine if we show the current product (plugins) or the Featured Upsell (samples/IRs).
{% endcomment %}

{% assign is_index = false %}
{% if page.url == '/' %}
  {% assign is_index = true %}
{% endif %}

{% assign footer_product = null %}

{% if is_index == false %}
  {% if product.type == 'plugin' %}
    {% assign footer_product = product %}
  {% else %}
    {% assign target_id = settings.featuredProductId %}
    {% assign footer_product = products | where: "id", target_id | first %}
  {% endif %}
{% endif %}


<div id="sticky-product-footer" class="sticky-footer-wrapper">
  
  <div class="container-fluid px-0 px-sm-2 px-md-5 d-flex justify-content-between align-items-center restrict-width w-100">
    
    <div class="d-flex align-items-center">
      {% if is_index %}
        <div class="footer-brand-wrap" aria-label="fedDSP"></div>
      {% else %}
        {% if footer_product.assets.logo %}
          <img src="{{ footer_product.assets.logo }}" alt="{{ footer_product.name }}" class="sticky-footer-logo">
        {% else %}
          <h2>
            {{ footer_product.name }}
          </h2>
        {% endif %}
      {% endif %}
    </div>


    <div class="text-white-50 sticky-footer-center small d-none d-xl-block mx-auto text-center">
      {% if is_index %}
        {{ texts.stickyFooter.indexText }}
      {% else %}
        Buy <a href="/products/{{ footer_product.id }}/">{{ footer_product.name }}</a> by {{ settings.promoDate }} to join the <a href="/founders">Founders' Club</a>
      {% endif %}
    </div>


    <div class="d-flex gap-2 gap-md-3 align-items-center justify-content-end">
      
      {% if is_index %}
        <button class="btn btn-pill btn-brand-solid btn-lg" data-trigger="mailing-list-modal">
           <span class="d-inline d-sm-none">{{ texts.stickyFooter.indexButtonMobile }}</span>
            <span class="d-none d-sm-inline">{{ texts.stickyFooter.indexButton }}</span>
        </button>
      
      {% else %}
        <a href="{{ footer_product.buyLink }}" class="btn btn-pill btn-brand-solid">
          {{ texts.stickyFooter.productButtonBuy }}
        </a>
        
        {% if footer_product.demoLink %}
          <a href="{{ footer_product.demoLink }}" class="btn btn-pill btn-grey-solid ms-2 ms-sm-3">
            <span class="d-inline d-sm-none">{{ texts.stickyFooter.productButtonTryMobile }}</span>
            <span class="d-none d-sm-inline">{{ texts.stickyFooter.productButtonTry }}</span>
          </a>
        {% endif %}

      {% endif %}

    </div>

  </div>
</div>