{% assign hasHeroImage = product.heroImage and product.heroImage != '' %}

<section
  class="product-hero{% unless hasHeroImage %} no-image{% endunless %}"
  style="
    --hero-bg: {{ product.heroColour | default: '#111' }};
    --hero-text: {{ product.heroTextColour | default: '#fff' }};
  "
>

  <video
    class="product-heroVideo"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="/assets/videos/9665235-hd_1280_720_25fps.mp4" type="video/mp4">
  </video>

  {% if hasHeroImage %}
    <img
      src="{{ product.heroImage }}"
      alt="{{ product.name }} hero image"
      class="product-heroImage"
    >
  {% endif %}

  <div class="product-hero-text px-3">
    <h2 class="text-uppercase gradient-text">{{ product.headline }}</h2>
    <img
      src="{{ product.logo }}"
      alt="{{ product.name }} logo"
      class="product-hero-logo mb-4"
    >
    <p class="hero-sub mx-auto">{{ product.subHeader }}</p>
  </div>
</section>
