<!-- if index.liquid has already set `featured`, use that. Otherwise fall back to a specific product (konvikt). -->
{% if featured %}
{% assign product = featured %}
{% else %}
{% assign product = products | where: "id", "konvikt" | first %}
{% endif %}

<section class="product-panel d-flex flex-column justify-content-between text-white">
  <video class="w-100 h-100 object-fit-cover" muted loop playsinline preload="metadata">
    {% if product['3dVideo'] %}
    <source src="{{ product['3dVideo'] }}" type="video/mp4">
    {% endif %}
    Your browser does not support the video tag.
  </video>

  <div class="overlay-content">

    <div class="overlay-top text-center px-3 pt-5">
      <h2 class="text-uppercase mb-4">{{ product.name }}</h2>
      <p class="product-video-text mx-auto">{{ product.subHeader }}</p>
    </div>

    <div class="overlay-bottom w-100">
      <div class="container py-4">
        <div class="row gx-5 bg-black bg-opacity-85 rounded-3 p-4">
          <div class="col-md-6">
            <h5 class="text-uppercase mt-2">{{ product.header1 }}</h3>
              <p class="black-bg">{{ product.description1 | truncatewords: 28, '…' }}</p>
          </div>
          <div class="col-md-6">
            <h5 class="text-uppercase mt-2">{{ product.header2 }}</h3>
              <p class="black-bg">{{ product.description2 | truncatewords: 28, '…' }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script src="/assets/js/product-panel.js"></script>